<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <form action="/gettask" method="POST">
        <input type="text" name="desc" required>
        <label>Description</label>
        <input type="submit" name="submit" value="Get_task">
    </form>    
</body>
</html>