<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div style="font-size: 30px;text-align:center;padding:10px">
        <a href="./listusers">List users</a>
    </div>
    <div style="font-size: 30px;text-align:center;padding:10px">
        <a href="./getuser">Get user by username</a>
    </div>
    <div style="font-size: 30px;text-align:center;padding:10px">
        <a href="./updateuser">Update user</a>
    </div>
    <div style="font-size: 30px;text-align:center;padding:10px">
        <a href="./deleteuser">Delete user</a>
    </div>
    <div style="font-size: 30px;text-align:center;padding:10px">
    <a href="./createtask">Create task</a>
    </div>
    <div style="font-size: 30px;text-align:center;padding:10px">
    <a href="./listtasks">Listtasks</a>
    </div>
    <div style="font-size: 30px;text-align:center;padding:10px">
    <a href="./gettask">Get task by description</a>
    </div>
    <div style="font-size: 30px;text-align:center;padding:10px">
    <a href="./updatetask">Update task</a>
    </div>
    <div style="font-size: 30px;text-align:center;padding:10px">
    <a href="./deletetask">Delete task</a>
    </div>
    <div style="font-size: 30px;text-align:center;padding:10px">
    <a href="./logout">Logout</a>
    </div>
</body>

</html>