<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My application</title>
</head>

<body>
    <h1 style="text-align: center;color:blueviolet">Welcome to my website</h1>
    <div>
        <a href="/login" style="color:brown;font-size:30px">Login</a>
        <br>
        <a href="/signup" style="color:blueviolet;font-size:30px">Signup</a>
    </div>
</body>

</html>